/*===== RESET =====*/
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

a {
  text-decoration:none;
}

img {
  max-width:100%;
  height:auto; 
}

/*===== VARIABLES =====*/
:root {
  --header-height:4.5rem;
  /* colors */ 
  --hue:159; /*159*/
  /* HSL color mode */ 
  --base-color:hsl(var(--hue) 36% 57%);
  --base-color-second:hsl(var(--hue) 65% 88%); 
  --base-color-alt:hsl(var(--hue) 57% 53%); 
  --title-color:hsl(var(--hue) 41% 10%);
  --text-color:hsl(0 0% 46%); 
  --text-color-light:hsl(0 0% 98%); 
  --body-color:hsl(0 0% 98%);
}

/*===== BASE =====*/
body {
  font:400 1rem 'DM Sans', sans-serif;
  color:var(--text-color);
  background:var(--body-color);
  -webkit-font-smoothing:antialiased;  
}

h2 {
  font:700 1.875rem 'Poppins', sans-serif;
  color:var(--title-color);
  -webkit-font-smoothing:auto;
}

main {
  margin-top: var(--header-height);
}

.button {
  background: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider1 {
  height:1px;
  background:linear-gradient(
  270deg, 
  hsla(var(--hue), 36%, 57%, 1) 0%,
  hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

/*===== LAYOUT =====*/
header {
  width:100%;
  border-bottom:1px solid #e4e4e4;
  margin-bottom:2rem;
  display:flex;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  background-color:var(--body-color);
}

.container {
  margin-right:1.5rem;
  margin-left:1.5rem;
}

.grid {
  display:grid;
  gap:2rem;
}

section {
  padding:5rem 0;
}

/*===== NAVIGATION =====*/
nav {
  width:100%;
  height:var(--header-height);
  align-items:center;
  display:flex;
  height:4.5rem;
  justify-content:space-between;   
}

.logo {
  font:700 1.31rem 'Poppins', sans-serif;
  color:var(--title-color);    
}

.logo span {
  color:var(--base-color);
}

/*===== MENU =====*/ 

/*===== HOME =====*/
#home {
  overflow:hidden;
}

#home .container {
  margin:0;
}

#home .image img {
  position:relative;
  right:2.93rem;
  border-radius:0.25rem;
} 

#home .image {
  position:relative;
}

#home .image::before {
  content:'';
  height:100%;
  width:100%;
  background:var(--base-color-second);
  position:absolute;
  top:-16.8%;
  left:16.8%;
  z-index:0;
  border-radius:0.25rem;
}

#home .text {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  text-align:center;
}

#home .text h2 {
  margin-bottom:1rem;
}

#home .text p {
  margin-bottom:2rem;
}

/*===== Section2 =====*/
.container2 h2 {
  margin-bottom:2rem;
}
