/*===== RESET =====*/
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

ul {
  list-style:none;
}

a {
  text-decoration:none;
}

img {
  max-width:100%;
  height:auto; 
}

/*===== VARIABLES =====*/
:root {
  --header-height:4.5rem;
  /* colors */ 
  --hue:159; /*159*/
  /* HSL color mode */ 
  --base-color:hsl(var(--hue) 36% 57%);
  --base-color-second:hsl(var(--hue) 65% 88%); 
  --base-color-alt:hsl(var(--hue) 57% 53%); 
  --title-color:hsl(var(--hue) 41% 10%);
  --text-color:hsl(0 0% 46%); 
  --text-color-light:hsl(0 0% 98%); 
  --body-color:hsl(0 0% 98%);

  /* Media Queries */
  --title-font-size:1.875rem;
  --p-font-size:1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===== BASE =====*/
html {
  scroll-behavior:smooth; /* Anima suavemente a transição de rolagem ao clicar em links. 
  Is not supported by Safari (console problem) */ 
  overflow-x:hidden; /* De alguma forma, no smartphone os sliders não obedecem ao overflow-x no body */ 
}

body {
  font:400 var(--p-font-size) var(--body-font);
  color:var(--text-color);
  background:var(--body-color);
  -webkit-font-smoothing:antialiased;  
  overflow-x: hidden;
  overflow-y:auto;
}

.title {
  font:700 var(--title-font-size) var(--title-font);
  color:var(--title-color);
  -webkit-font-smoothing:auto;
}

.button {
  background: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height:1px;
  background:linear-gradient(
  270deg, 
  hsla(var(--hue), 36%, 57%, 1),
  hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height:1px;
  background:linear-gradient(
  270deg,
  hsla(var(--hue), 65%, 88%, 0.34),
  hsla(var(--hue), 36%, 57%, 1)
  );
}

i {
  font-size: 1.5rem;
}

/*===== LAYOUT =====*/
#header-1 {
  width:100%;
  border-bottom:1px solid #e4e4e4;
  margin-bottom:2rem;
  display:flex;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  background-color:var(--body-color);
}

#header-1.scroll {
  box-shadow:0px 0px 12px rgba(0, 0, 0, 0.10); /* Sombreamento */
}

.container {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

section {
  padding: calc(5rem + var(--header-height)) 0;
}

section .title {
  margin-bottom:1rem;
}

section header {
  margin-bottom:4rem;
}

section header strong {
  color:var(--base-color);
}

/*===== NAVIGATION =====*/
.nav {
  width:100%;
  height:var(--header-height);
  align-items:center;
  display:flex;
  justify-content:space-between;
}

.logo {
  font:700 1.31rem var(--title-font);
  color:var(--title-color);    
}

.logo span {
  color:var(--base-color);
}

.nav ul .link {
  text-align:center;
}

.nav ul .link:hover {
  transform:scale(1.10); /* zoom nos links do menu após mouse em cima. Descobrir pq n aparece no estilos devtools*/
}

/*======== Função clickar =========*/ 
.nav ul li a {
  transition:color 0.2s;
  position:relative; /* Para que o filho (abaixo) seja absoluto a ele */
}

.nav ul li a.active {
  color:var(--base-color);
}

.nav ul li a::after {
  content:"";
  width:0;
  height:2px;
  background:var(--base-color);
  position:absolute; /* absoluto em relação ao relative acima(pai) */ 
  left:0;
  bottom:-1.5rem;
  transition:width 0.2s;
}

.nav ul li a.active::after {
  width:100%;
}

/*===========================*/

.nav .menu {
  opacity:0;
  visibility:hidden;
  margin-right:-4.8rem;
  top:-20rem;
  transition:0.2s;
}

.nav .menu ul {
  display:none;
}

/* Mostrar menu */
.nav.show .menu {
  opacity:1;
  visibility:visible;
  background:var(--body-color);
  text-align:center;
  height:100vh; /*viewport heigth: altura do dispositivo*/
  width:100vw; /*viewport width: largura do dispositivo*/
  position:fixed;
  top:0; /* canto superior */
  left:0; /* canto esquerdo */
  display:grid;
  place-content:center;
}

.nav.show .menu ul {
  display:grid;
}

.nav.show ul.grid {
  gap: 4rem;
}

/* Toggle menu */
.toggle {
  color:var(--base-color);
  font-size:1.5rem;
  cursor:pointer; /* Aparece a mãozinha*/
}

.nav .icon-close {
  opacity:0;
  visibility:hidden;
  position:absolute;
  right:1.5rem;
  top:-1.5rem;
  transition:0.2s;
}

.nav.show div.icon-close {
  opacity:1;
  visibility:visible;
  top:1.5rem;
}

/*===== HOME =====*/
#home .image {
  position:relative;
}

#home .image::before {
  content:'';
  height:100%;
  width:110%;
  background:var(--base-color-second);
  position:absolute;
  top:-15%;
  left:6.8%;
  z-index:0;
}

#home .image img {
  position: relative;
  right: 2.10rem;
}

#home .image img,
#home .image::before {
  border-radius:0.25rem;
}

#home .text {
  text-align:center;
}

#home .text p {
  margin-bottom:2rem;
}

/*===== Section-2 =====*/
#about {
  background: white;
}  

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 90%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.39%;
  left: -31%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius:0.25rem;
}

/*===== Section-3 =====*/
.cards.grid {
  gap:1.5rem;
}

.card {
  padding:3.625rem 2rem;
  box-shadow:0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom:0.25rem solid var(--base-color);
  border-radius:0.25rem 0.25rem 0 0;
  text-align:center;
}

.card i {
  display:block;
  font-size:5rem;
  color:var(--base-color);
  margin: 0 5rem 1.5rem 5rem;
}

.card .title {
  font-size:1.5rem;
  margin-bottom:0.75rem;
}

/*===== Section-4 =====*/
#testimonials {
  background:white;
}

#testimonials header { 
  margin-bottom:0; /* Como o section header bota todos os headers com margin-bottom: 4rem; esse aqui não quero, pois o swiper-container é alto */
  margin-left:1.5rem;
  margin-right:1.5rem;
}

#testimonials .title {
  margin-bottom:0; /* como section .title bota todos os títulos com margin-bottom: 1rem; esse aqui não quero, pois é somente entre títulos e textos */
} 

#testimonials .container { /* Zerar container aqui para ajustar blockquote e ficar alinhado com header */
  margin-left:0;
  margin-right:0;
}

#testimonials blockquote {
  padding:2rem;
  box-shadow:0px 0px 12px rgba(0, 0, 0, 0.10);
  border-radius:0.25rem;
}

#testimonials blockquote p {
  position:relative;
  text-indent:1.875rem;
  margin-bottom:1.5rem;
  color:var(--title-color); /* Não gostei muito dessa color: #000;or */
}

#testimonials blockquote p span {
  font:700 2.5rem serif;
  position:absolute;
  top:-0.400rem;
  left:-1.875rem;
  color:var(--base-color);
}

#testimonials cite {
  display:flex;
  align-items:center;
  /* font-style:normal; Gostei da fonte em itálico */
}

#testimonials cite img {
  width:2rem;
  height:2rem;
  object-fit:cover; /* Melhorar imagem */
  clip-path:circle(); /* Cria um contorno específico */
  margin-right:0.5rem;
}

.swiper-slide {
  height: auto;
  padding:4rem 1rem;
}

.swiper-pagination-bullet { /* Tamanho das bolinhas de paginação */ 
  width:0.75rem;
  height:0.75rem;
}

.swiper-pagination-bullet-active /*Cor da bolinha ativada */{
  background:var(--base-color)
}

/*===== Section-5 =====*/
#contact .text p {
  margin-bottom:2rem;
}

#contact div.grid {
  gap:4rem;
}

#contact div i {
  margin-right:0.625rem;
}

#contact ul li {
  display:flex;
  align-items:center;
}

#contact ul li i {
  color:var(--base-color);
}

/*===== Footer =====*/
#footer {
  padding: 5rem 0;
  background:var(--base-color);
}

#footer .logo span {
  color:var(--body-color);
}

#footer .logo {
  display:inline-block; /* Por padão o display da tag a é inline, que não permite margin(também não permite várias propriedades como transform...), por isso a mudança */
  margin-bottom:1.5rem;
}

#footer .brand p {
  color:var(--text-color-light);
}


#footer .social i {
  color:var(--text-color-light);
}

#footer .social {
  grid-auto-flow:column;
  width:fit-content;
}

#footer .social a {
  transition:0.3s; /* Sempre quando eu quero fazer uma estilização de movimento após determinada ação, a transição sempre deve estar */
  display:inline-block; 
  display: flex;
  text-align:center;
}

#footer .social a:hover {
  transform:translateY(-8px);
}

/* ==== Arrow Up ==== */
.back-to-top {
  position:fixed;
  right:1rem;
  bottom:1rem;
  color:var(--text-color-light);
  background:var(--base-color);
  padding: 0.5rem;
  clip-path:circle();
  line-height:0;
  visibility:hidden;
  opacity:0;
  transition:0.3s;
  transform:translateY(100%);
}

.back-to-top.show {
  visibility:visible;
  opacity:1;
  transform:translateY(0);
}

/* Media Queries(Consultas de mídia) são usados para modificar meu site ou aplicativo, dependendo do tipo geral de um dispositivo (como impressão vs tela) ou características e parâmetros específicos (como resolução de tela ou largura de exibição do navegador), dando comportamentos específicos sobre responsividade, ou seja, para que os estilos se adequem em diversos tipos de dispositivos de maneira inteligente com o break points(pontos de quebra do layout). 

Width Devices: 

/* Extra large devices = 1200 > */
@media(min-width:1200px) {
  /* Base */
  main {
    margin-top: var(--header-height);
  }

  section {
    padding:10rem 0;
  }

  section #header-2,
  section #header-3 {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    margin-left: 7.6875rem;
    margin-right: 7.6875rem;
  }

  /* header-1 */
  .nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    margin-right: 0;
  }

  .nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  .nav .menu .title {
    font: 400 1rem var(--body-font);
  }

  .nav ul li .title.active { 
    font-weight: bold;
    -webkit-font-smoothing:auto;
  }

  .nav .icon-menu {
    display: none;
  }

  /* home */
  #home .container { 
    grid-auto-flow: column;
    justify-content: space-between;
  }

  #home .text {
    order:0; /* order só é possível por causa do display grid ou flex */
    max-width:24rem;
    text-align:left;
  }

  #home .image {
    order:1;
  }

  #home .image::before { /* Isso daqui pois em alguns smartphones de teste do devtools o before fica pequeno na lateral */
    width: 100%;
  }

  #home .button,
  #contact .button {
    height:3.125rem;
  }

  /* about */
  #about .grid {
    grid-auto-flow: column;
    gap:4rem;
  }

  #about .container {
    margin-left: 0;
  }

  #about .image {
    margin-top: 4rem;
  }

  /* services */
  #services .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #services .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* testimonials */
  #testimonials .container {
    margin-left: 6.80rem;
    margin-right: 6.80rem;
    overflow-x: hidden;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25.25rem;
  }

  /* #contact div.grid {
    gap:20rem;
  } Com gap ou sem gap??? */

  /* footer */
  footer#footer {
    padding: 3.75rem 0;
  }

  #footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #footer .logo {
    font-size: 2rem;
  }
}

/* Large devices = 1023 > */

/* Medium devices = 767 > */ /* No modo desktop do meu device tem essa largura minima, ainda estou testando... */
@media(min-width:767px) and (max-width:1199px) {
  main {
    margin-top: var(--header-height);
  }

  section {
    padding:10rem 0;
  }

  section #header-2,
  section #header-3 {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  /* header-1 */
  .nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    margin-right: 0;
  }

  .nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  .nav .menu .title {
    font: 400 1rem var(--body-font);
  }

  .nav .icon-menu {
    display: none;
  }

  /* home */
  #home .container { 
    grid-auto-flow: column;
    justify-content: space-between;
  }

  #home .text {
    order:0; /* order só é possível por causa do display grid ou flex */
    max-width:20rem;
    text-align:left;
    margin-right:1rem;
  }

  #home .image {
    order:1;
  }
  
  #home .image img {
    height:20rem;
    width:29rem;
    margin-right:1rem;
  }

  #home .image::before { /* Isso daqui pois em alguns smartphones de teste do devtools o before fica pequeno na lateral */
    width: 98%;
    left:2%;
  }

  #home .button,
  #contact .button {
    height:3.125rem;
  }

  /* about */
  #about .grid {
    grid-auto-flow: column;
    gap:4rem;
  }

  #about .container {
    margin-left: 0;
  }

  #about .image {
    margin-top: 4rem;
  }

  /* services */
  #services .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #services .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* testimonials */
  #testimonials .container {
    margin-left: 6.80rem;
    margin-right: 6.80rem;
    overflow-x: hidden;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25.25rem;
  }

  /* #contact div.grid {
    gap:20rem;
  } Com gap ou sem gap??? */

  /* footer */
  footer#footer {
    padding: 3.75rem 0;
  }

  #footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #footer .logo {
    font-size: 2rem;
  }
} 

/* Large devices = 992 > */
@media(min-width: 992px) {
  :root {
    --title-font-size:2.25rem;
    --p-font-size:1.125rem;
  }
}
